<!-- BODY ENDS -->
    <!-- FOOTER STARTS -------------- -->
    <div class="container-fluid mittari-section-div background">
        <h3 class="text-center" style="background: unset;">{{page.ota_yhteytta}}</h3>
        <center>Doctoral Researcher <a href="mailto:matleena.ylikoski@tuni.fi" target="">matleena.ylikoski (at) tuni.fi</a></center>
        <br>
        <center>Illustrations: Meeri Hentilä</center>
        <br>
        <center><a href="./tietosuoja.html">Privacy (in Finnish)</a></center>
        <br>
        <div class="d-flex justify-content-center">
            <a href="mailto:matleena.ylikoski@tuni.fi" target=""><img src="../img/email-round.png" alt="" class="m-1 some-logo" /></a>
        </div>
    </div>
