<!-- BODY ENDS -->
    <!-- FOOTER STARTS -------------- -->
    <div class="container-fluid mittari-section-div background">
        <h3 class="text-center" style="background: unset;">{{page.ota_yhteytta}}</h3>
        <center><a href="mailto:matleena.ylikoski@tuni.fi" target="">matleena.ylikoski (at) tuni.fi</a></center>
        <br>
        <div class="d-flex justify-content-center">
            <a href="mailto:tiimi@moniaanisyysmittari.fi" target=""><img src="../img/email-round.png" alt="" class="m-1 some-logo" /></a>
            <a href="https://www.twitter.com/sopivary" target="_blank"><img src="../img/twitter-logo-round.png" alt="" class="m-1 some-logo" /></a>
        </div>
    </div>
