{% include header{{page.header_option}}.html %}
<!-- BODY STARTS -------------- -->
    <div class="container" id="hero" style="background-color: rgb(247 234 221); margin: 0 auto;">
        <div class="video-div" style="text-align: center; margin: 0 auto;">
        <img src="./img/{{ page.herokuva }}" alt="" style="display: block; ">
        </div>
        <div style="margin: auto;">
            <div class="mittari-hero-div d-flex">
                <img src="img/{{page.sitelogo}}" class="title-logo" alt="" style="margin-left: auto;" />
            </div>
            <div style="margin-top: 14px; color: black; padding-bottom: 10%;">
                <h2>{{ page.introteksti }}</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid mittari-section-div" style="" id="intro">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="m-3 service-logo logo">
                    <img src="img/{{ page.esittelyteksti_eka_kuvatiedosto }}" alt="" />
                </div>    
            </div>
            <h4 style="text-align: center;">{{ page.esittelyteksti_eka }}</h4>
<p style="text-align: center;"><strong><a href="{{ page.esittelyteksti_eka_linkki }}">{{page.esittelyteksti_eka_linkkiteksti}}</a></strong></p>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="m-3 service-logo logo">
                    <img src="img/{{ page.esittelyteksti_toka_kuvatiedosto }}" alt="" />
                </div>    
            </div>
            <h4 style="text-align: center;">{{ page.esittelyteksti_toka }}</h4>
<p style="text-align: center;"><strong><a href="{{ page.esittelyteksti_toka_linkki }}" rel="noopener">{{page.esittelyteksti_toka_linkkiteksti}}</a></strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
        </div>
    </div>
    
    <div class="container-fluid mittari-section-div" style="" id="developer">
        <div class="container">
            <h2>{{page.mittarin_kehittaja_otsikko}}</h2>
            <h4 style="text-align: center;">{{ page.mittarin_kehittaja_teksti }}</h4>
            <h4 style="text-align: center;"><a href="{{page.kehittaja_linkki}}" target="_blank" rel="noopener">{{page.kehittaja_linkkiteksti}}</a></h4>
            <div class="d-flex justify-content-center flex-wrap">
                <div class="m-3 developer-logo logo">
                    <img src="img/{{page.kehittaja_one_logo}}" alt="" />
                </div>
                <div class="m-3 developer-logo logo">
                    <img src="img/{{page.kehittaja_two_logo}}" alt="" />
                </div>
                <div class="m-3 developer-logo logo">
                    <img src="img/{{page.kehittaja_three_logo}}" alt="" />
                </div>
                <div class="m-3 developer-logo logo">
                    <img src="img/{{page.kehittaja_four_logo}}" alt="" />
                </div>
                <div class="m-3 developer-logo logo">
                    <img src="img/{{page.kehittaja_five_logo}}" alt="" />
                </div>
                <div class="m-3 developer-logo logo">
                    <img src="img/{{page.kehittaja_six_logo}}" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

    {% include footer{{page.header_option}}.html %}
</div>
</body>
</html>
